@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
}

#cabecalho {
    background-color: black;
    height: 400px;
}

#cabecalho .palavra_cabecalho {
    color: white;
    text-align: center;
}

#titulo {
    padding-top: 140px;
    font-family:'Passion+One', sans-serif;
    font-weight: 900;
    font-size: 70px;
}

#autor {
    padding-bottom: 80px;
    font-family: 'Passion+One',Arial, Helvetica, sans-serif;
}

.fonte_texto {
    font-family: 'Sriracha', sans-serif;
    font-size: 45px;
}

#parte_um {
    height: 800px;
    margin-top: 190px;
    margin-left: 90px;
}

#parte_dois {
    background-image: url(imagens/background001.jpg);
    height: 1200px;
}

#parte_dois > p {
    padding-top: 190px;
    margin-left: 90px;
}
